name: Build and deploy to DEV

on:
  push:
    branches:  
     - dev
    
jobs:
  build-dev:
    runs-on: ubuntu-latest
    environment: DEV
    steps:
    - name: Checkout this repo
      uses: actions/checkout@v3
    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Set up JDK 1.8
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: 8
    - name: Build with Maven
      env:
        MULE_CLIENT_ID: ${{ secrets.mule_client_id }}
        MULE_CLIENT_SECRET: ${{ secrets.mule_client_secret }}
        REPOSITORY_NAME: ${{ vars.repository_name }}
      run: |
        chmod +x src/main/resources/scripts/maven-configure.sh 
        ./src/main/resources/scripts/maven-configure.sh \
         --repository-name=$REPOSITORY_NAME \
         --client-id=$MULE_CLIENT_ID \
         --client-secret=$MULE_CLIENT_SECRET
        mvn -B package --file pom.xml -DskipMunitTests -DattachMuleSources
    - name: Stamp artifact file name with commit hash
      run: |
        artifactName1=$(ls target/*.jar | head -1)
        commitHash=$(git rev-parse --short "$GITHUB_SHA")
        artifactName2=$(ls target/*.jar | head -1 | sed "s/.jar/-$commitHash.jar/g")
        mv $artifactName1 $artifactName2
    - name: Upload artifact 
      uses: actions/upload-artifact@v3
      with:
          name: artifacts
          path: target/*.jar

